$background-color = #1c2a30

::selection
  background: lighten($background-color, 35%)
  color: #fff
  text-shadow: none

html
  overflow-y: auto
  background-color: transparent
  font-size 62.5%

body
  overflow: hidden
  padding: 0
  background: $background-color
  color: #efefef
  font: 1.4em Helvetica, Arial
  line-height: 1.2em

a
  color: lighten(#1c2a30, 50%)
  &:visited
    color: lighten(#1c2a30, 50%)
  &:hover
    color: lighten(#1c2a30, 72%)

p
    font-size 1.2em
    font-weight bold
    margin 0
    padding 1em

ul
  li
    list-style: none

section
  margin: 0 -35px
  padding: 0 35px
  background: lighten($background-color, 6%)
  border-top: 1px solid #555
  box-shadow: inset 0 0 35px #111

::-webkit-scrollbar
  width: 20px
  height: 0
::-webkit-scrollbar-track
  height: 10px
  background: rgba(0, 0, 0, 0)
::-webkit-scrollbar-thumb
  background: rgba(0, 0, 0, 1)
  border-radius: 10px
